<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="/response" class="nav-link active" aria-current="page" href="#">Get Responses</a>
            </li>
          </ul>
          <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="enter poll id to see the poll" aria-label="Search"
            [(ngModel)]="pollid"
            >
            <button routerLink="poll/{{pollid}}" class="btn btn-outline-success" type="button">Search</button>
          </div>
        </div>
      </div>
  </nav>